<% layout("layouts/boilerplate") -%>
<body>
    <br>
    <h2>Create a New Listing </h2>
    <br>
    <div class="row">
     <div class="col-md-8 offset-md-2"> 
    <form action="/listings" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label"><b>Enter title name: </b></label><br>
            <input name="listing[title]" placeholder="Enter Title" type="text" class="form-control" required>
            <div class="valid-feedback"> Titles looks good. </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label"><b>Enter description name: </b></label><br>
            <textarea name="listing[description]" placeholder="Enter Description" type="text" class="form-control" required ></textarea>
            <div class="invalid-feedback"> Enter a short description. </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label"><b>Enter image URL: </b></label><br>
            <input name="listing[image][url]" id="imageUrlInput" placeholder="Enter Image URL" type="text" class="form-control">
            <img id="imagePreview" src="#" alt="Image Preview" style="display:none; max-width: 100%; margin-top: 10px;">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label"><b>Enter price: </b></label>
                <input name="listing[price]" placeholder="Enter Price"  class="form-control" required >
                <div class="invalid-feedback" > Enter valid price. </div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label"><b>Enter country: </b></label>
                <input name="listing[country]" placeholder="Enter Country" type="text" class="form-control" required >
                <div class="invalid-feedback"> Enter a valid country name. </div>
            </div>
            
        </div>
        
        <div    class="mb-3">
            <label for="location" class="form-label"><b>Enter location: </b></label><br>
            <input name="listing[location]" placeholder="Enter Location" type="text" class="form-control" required >
            <div class="invalid-feedback"> Enter a valid location name. </div>
        </div>
        
        <br>
        <div class="flex text-center">
            <button class="btn btn-dark px-md-5 ">ADD</button>
        </div>
        <br><br>
    </form>
</div>  