<% layout("/layouts/boilerplate") -%>
<div class="row my-3">
    <div class="alert alert-danger col-md-8 offset-md-2" role="alert">
        <p class="alert-heading"><%= err.message %></p>
    </div>
</div>
